{% extends 'base.html' %}
{% load stories %}

{% block content %}

{% if unfinished_stories %}
<p>
    <em>Unfinished Stories</em>
    {% for story in unfinished_stories %}
    <div class="story-bar">
        <div class="story-bar-fill" style="width: {{ story.get_completion }}%">
            {#{{ story.authors.all|length }}#}
            {{ story.get_active_author }}
        </div>
    </div>
    {% endfor %}
</p>
{% endif %}

{% if finished_stories %}
<p>
    <em>Finished Stories</em>

    {% for story in finished_stories %}
    <div class="story-preview">
        <div class="title">{{ story }}</div>
        <div class="preview">
            <div class="coverdown"></div>
            <div class="content">
                {{ story.get_cat|clip:150|markdown }}
            </div>
            <a href="{% url 'story' story.pk %}">Read More!</a>
        </div>
    </div>
    {% endfor %}
</p>
{% endif %}

{% endblock %}